/*For hom.html footers */

footer {
    display:flex;
    flex-direction: column;
    background-color: #0077b6;
    align-items: center;
    color:white;
}

.footer0 {
    color: black;
    font-weight:1200;
    transition-duration: 1s;
    margin-top: 14px;
}

.footer0:hover {
    color:rgb(248, 246, 243);
}

.footer3 {
    margin-top:20px;
    margin-bottom: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer2 .heading:hover {
    color:rgb(243, 168, 7);
}

.footer2 .div:hover {
    transform: scale(1.05);
}

.footer1 {
    display:flex;
    flex-direction: column;
    align-items: center;
    color:White;
    margin-top:15px;
    font-size: small;
}

.footer2 {
    display: flex;
    width:100%;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
    font-size: smaller;
    
}

.footer3 h4 {
    margin:0 10px;
    
}

.footer2 div {
    margin:10px;
}
